
<!DOCTYPE html>
<html>
      
  <head>
            <title></title>
            <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
        
                <%- include('partials/header', {title: 'Inicio'}) %>
        
    <main> 
        <form action="/create" method="POST">
            <label for="" >Title</label>
            <input type="text"  name="title" placeholder="star wars" ><br>

            <label for="" >Rating</label>
            <input type="text"  name="rating" placeholder="13.3" ><br>

            <label for="" >Length</label>
            <input type="text"  name="length" placeholder="120" ><br>

            <label for="" >Genre</label>            
            <select name ="genre_id">
                <% generos.forEach(genero =>{ %>                                       
                 <option value="<%=genero.id%>"> <%= genero.name %> </option>
              <%  }) %>
      </select>  <br>
      <label for=""> Actors </label> <br>

      <select name ="genre_id" multiple>
        <% actores.forEach(actor =>{ %>                                       
         <option value="<%=actor.id%>"> <%= actor.first_name %> <%= actor.last_name %></option>
      <%  }) %>
</select>  <br>
  
         
        <label for="" >Release Date</label>
        <input type="date"  name="release_date" placeholder="10/10/2000" > <br>
                   
                 
                   <button type="submit"> Create !!</button> <br>

                   

        </main>
   

</body>
<p></p>
<%- include('partials/footer') %>
</body>
</html>







